<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOM interactive guide</title>
    <link
      rel="stylesheet"
      href="/Users/shaunalexanderkriel/DOMguide/public/style.css"
    />
  </head>
  <body>
    <h1>The DOM Interactive Guide</h1>

    <div class="container">
      <h2>Flip the Switch(single)</h2>
      <p id="circuit">Circuit is OFF</p>
      <button
        onclick="document.querySelector('#circuit').innerText
        ='The Circuit is ON'"
      >
        Turn ON
      </button>
    </div>
    <div class="container">
      <h2>Highlight all Lights(multiple)</h2>
      <ul id="lighting">
        <li>Light 1</li>
        <li>Light 2</li>
        <li>Light 3</li>
      </ul>
      <button onclick="highLight()">Power All Lights</button>
    </div>
    <div class="container">
      <h2>Add Electrical Component(Create and Append)</h2>
      <ul id="componentList"></ul>
      <button onclick="addComponent()">Add Component</button>
    </div>
    <div class="container">
      <h2>Insert Fuse "Before" Breaker</h2>
      <ul id="fuseBoard">
        <li>Main Breaker</li>
      </ul>
      <button onclick="insertFuse()">Insert First</button>
    </div>
    <div class="container">
      <h2>Replace Blown Lamp</h2>
      <p id="lamp">Blown Lamp</p>
      <button onclick="replaceLamp()">Replace Lamp</button>
    </div>
    <div class="container">
      <h2>Remove Damaged Wire</h2>
      <p id="wire">Damaged Wire Detected</p>
      <button onclick="document.getElementByID('wire')">Remove Wire</button>
    </div>

    <script src="/Users/shaunalexanderkriel/DOMguide/public/script.js"></script>
  </body>
</html>
